
body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif; 
  color: black;
} 

h1 {color: black; font-size: 50px;}  

h2 {color: #ADD8E6;}

.seccionimag1 {width: 500px; height: 500px; margin-top: -100px;} 

.seccionimag2 {width: 430px; height: 430px; float: right;  margin-top: -466px;}  

.seccionimag3 {width: 400px; height: 400px; float: left;  margin-top: -498px; } 

.titulo {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  display: inline-block; 
  margin-top: -500px;
}

.titulo::after {
  content: "";
  display: block;
  width: 70px; 
  height: 10px; 
  background-color: #FFD700; 
  margin: 8px auto 0; 
}  

.titulo2 {float: left; margin-left: 100px; }

.titulo2::after {
  content: "";
  display: block;
  width: 70px; 
  height: 10px; 
  background-color: #FFD700; 
  margin: 8px auto 0; 
}  


.titulo3::after {
  content: "";
  display: block;
  width: 70px; 
  height: 10px; 
  background-color: #FFD700; 
  margin: 8px auto 0; 
}  

.titulo4::after {
  content: "";
  display: block;
  width: 70px; 
  height: 10px; 
  background-color: #FFD700; 
  margin: 8px auto 0; 
}  


.seccion-nosotros {float: left; margin-left: 100px; width: 600px; height: 600px; text-align: start;}

.Imagen {float: right; width: 50%; height: 100%;  margin-top: -200px; }




.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1000;
} 


.icono-img {
  width: 40px;
  height: 40px;
  object-fit: cover; 
  
} 



.nav-buttons button {
  margin-right: 10px; 
  padding: 10px 20px;
  border: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
} 

.nav-buttons button:hover {
  background-color: #777; 
}



.menu{
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  padding: 10px 20px;
  background-color: #333;
  color: white; 
  position: relative;
}

.menu-lista {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-lista li {
  margin: 0 10px;
}

.menu-lista a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.menu-lista a:hover {
  background-color: #555;
}

.menu-lista li {
  margin: 0 10px;
}

.menu-lista li {
  text-decoration: none;
  color: white; 
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #333; 
  transition: background-color 0.3s;
}

.menu-lista li:hover {
  background-color: #555; 
} 




body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.fullscreen-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fullscreen-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
} 

.fullscreen-image {
    flex: 1; 
    position: relative;
}

.fullscreen-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
}  

.footer {
  width: 100%; 
  height: 100px; 
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-size: 16px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh; 
}

.fullscreen-image {
  flex: 1; 
}

.fullscreen-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.footer {
  height: 20vh; 
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-size: 16px;
  text-align: center;
} 

.overlay-text {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
}



.overlay-text p {
  font-size: 30px; 
  margin: 10px 0 0;
} 

.Galeria{float: left; position: relative; margin-left: 380px;}  

.Galeria2{float: right; position: relative; margin-right: 310px;}  

.Galeria3{float: left; position: relative; margin-left: 380px;}  

.Galeria4{float: right; position: relative; margin-right: 306px; margin-top: -2px; }  

.formulario {float: left; margin-left: 80px;} 

.informaciones {float: right;  margin-right: 180px; width: 400px;} 

.titulo-contacto {color: black;}